/*VARS*/
$family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color: #090909;
$margin: 0;
$padding: 0;
$background-repeat: no-repeat;
$none: none;
$color2: #5d5d5d;
$left: left;
$right: right;
$position-a: absolute ;
$position-r: relative;
$text-transform: uppercase;
$display-t: table;
