.box{
	width: 29%;
	float: left;
	+.box{
		margin-left: 6.25%;
	}
}



.box-link{
	color: #090909;
	font-style: italic;
	font-size: 12px;
	text-decoration: none;
}

//Nesting
.box-img{
	width: 22%;
	float: left;
	a {
		display: block;
	}
	img {
		display: block;
		max-width: 100%;
		width: 100%;
	}
	+.box-img{
		margin-left: 3.5%;
		max-width: 100%;
	}
	
}

#blog-updates{
	width: 68%;
	float: left;
	margin-right: 80px;
}

#connect-with-us{
	max-width: 100%;
	width: 23%;
	float: right;
}